#productsLink:before {
  background-image: url(../images/navIcons/productsCurrent.png);
}

.wrapper {
  grid-template-rows: 7% 7% auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /*   display: grid;
  grid-template-areas: "top top quick"
                       "money other other";
  grid-gap: 1em; */
  height: 100%;
  /*   margin: 0 1em; */
}

.content div {
  margin: 1em;
}

.big {
  width: 60%;
}

.small {
  width: 35%;
}

.contentTitle {
  color: #4D4F5C;
  font-size: 21px;
  text-align: left;
}

.topProducts,
.quickDetails,
.moneyStats,
.nogIets {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px #0000000A;
}

.topProducts {
  grid-area: top;
  text-align: center;
  padding-bottom: 3em;
}

.quickDetails {
  grid-area: quick;
}

.moneyStats {
  grid-area: money;
}

.nogIets {
  grid-area: other;
}

.topProducts table {
  width: 100%;
  border-collapse: collapse;
}

.topProducts thead {
  background: #F5F6FA;
  color: #A3A6B4;
  font-weight: bold;
  font-size: 18px;
}

.topProducts thead td {
  padding: 1em 2em;
}

.topProducts tbody td {
  padding: 2em 3.5em;
}

.topProducts td:first-of-type {
  text-align: left;
}

.topProducts td:last-of-type {
  text-align: right;
}

.topProducts tbody {
  color: #4D4F5C;
}

.topProducts tbody tr {
  border-bottom: 1px solid #F1F1F3;
}

.topProducts .product1:before {
  content: "";
  background: url(../images/Product.Img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product2:before {
  content: "";
  background: url(../images/Product.Img-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product3:before {
  content: "";
  background: url(../images/Product.Img-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product4:before {
  content: "";
  background: url(../images/Product.Img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts--link,
.moneyStats--link {
  color: #3B86FF;
  text-decoration: none;
  width: 100%;
  position: relative;
  top: 2.5em;
}

.quickDetails h2,
.quickDetails--item {
  padding-bottom: 1em;
  border-bottom: 1px solid #F1F1F3;
}

.quickDetails--item {
  padding: 1.3em 0;
}

.quickDetails--item span:first-of-type {
  color: rgba(77, 79, 92, .5);
  text-align: left;
}

.quickDetails--item span:first-of-type:before {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.quickDetails--item .newUsers:before {
  background: url(../images/new-user1.png);
}

.quickDetails--item .scans:before {
  background: url(../images/recycle1.png);
}

.quickDetails--item .waiting:before {
  background: url(../images/timer1.png);
}

.quickDetails--item .attention:before {
  background: url(../images/warning1.png);
}

.quickDetails--item .lostUsers:before {
  background: url(../images/error1.png);
}

.quickDetails--item span:last-of-type {
  text-align: right;
  float: right;
}

.moneyStats table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.moneyStats thead td:first-of-type,
.moneyStats tfoot td:first-of-type {
  text-align: left;
}

.moneyStats thead td:last-of-type,
.moneyStats tfoot td:last-of-type {
  text-align: right;
}

.moneyStats tfoot tr:first-of-type td:first-of-type:before {
  content: '\2022';
  font-size: 2.4em;
  position: relative;
  top: .15em;
  right: .15em;
  color: #efefef;
}

.moneyStats tfoot tr:first-of-type td:last-of-type:before {
  content: '\2022';
  font-size: 2.4em;
  position: relative;
  top: .15em;
  right: .15em;
  color: rgb(0, 174, 255);
}

.moneyStats thead,
.moneyStats tfoot tr:first-of-type {
  font-weight: bold;
}


.adCorner {
  background: rgba(255, 101, 101, .94);
  position: absolute;
  left: 15em;
  width: 28%;
  height: 60vh;
  z-index: 1;
}

#closeAd {
  color: white;
  font-size: 2em;
  position: relative;
  left: 6em;
  top: .5em;
  cursor: pointer;
}

.adCorner__content {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  position: relative;
  left: 3em;
  bottom: 2em;
}

.adCorner--title {
  max-width: 50%;
  margin: 1em auto 0;
  color: white;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  bottom: 1em;
}

.adCorner--price {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 10em;
  display: block;
  position: relative;
  bottom: .5em;
}

.adCorner--subText {
  color: rgba(255, 255, 255, .5);
  text-align: center;
  display: block;
  font-size: 1.3em;
  position: relative;
  bottom: 5.5em;
}

.adCorner--description {
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 6.5em;
  color: #FFFFFF;
}

.adCorner--CTA {
  background: rgba(0, 0, 0, .3);
  padding: 1em 3em;
  border-radius: 4px;
  position: relative;
  bottom: 4em;
  text-decoration: none;
}

.adCorner--CTA__text {
  color: #FFFFFF;
}

select {
  box-shadow: 0px 2px 3px #0000000D;
  border: 1px solid #D7DAE2;
  border-radius: 4px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  background-image: url('../images/downArrow.png'),
    linear-gradient(to bottom, #ffffff 0%, #FFFFFF 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.nogIets,
.moneyStats {
  height: 30em;
}

.nogIets .itemContent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 1fr;
}

.chart {
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: url(../images/chart.png);
  /*   background: red; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2em center;
  max-height: 70%;
  max-width: 90%;
}


.yas span {
  max-height: min-content;
  color: #43425D;
  bottom: 2.4em;
  right: 2.4em;
  display: block;
  position: relative;
  margin: 2em 0;
}


.xas span {
  color: #43425D;
  position: relative;
  bottom: 3em;
  left: 2em;
  margin: 1.99em;
}