#dashboardLink:before {
  background-image: url(../images/navIcons/dashboardCurrent.png);
}

.wrapper {
  grid-template-rows: 4.15% 4.15% auto;
}

nav {
  height: 2400px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /*   display: grid;
  grid-template-areas: "top top quick"
                       "money other other";
  grid-gap: 1em; */
  height: 100%;
  /*   margin: 0 1em; */
}

.content div {
  margin: 1em;
}

.huge {
  width: 100%;
}

.big {
  width: 60%;
}

.small {
  width: 35%;
}

.tiny {
  width: 30.8%;
  height: 13%;
}

.contentTitle {
  color: #4D4F5C;
  font-size: 21px;
  text-align: left;
}

.topProducts,
.quickDetails,
.totalUsers,
.activeNewUsers,
.totalAdRev,
.statistics,
.referrer,
.theMap
{
  background: #FFFFFF;
  box-shadow: 0px 2px 6px #0000000A;
}

.totalUsers .itemContent span:first-of-type,
.activeNewUsers .itemContent span:first-of-type,
.totalAdRev .itemContent span:first-of-type {
  display: block;
  color: #4D4F5C;
  font-weight: bold;
  font-size: 2em;
  margin: 2em 0 .5em;
}

.totalUsers .itemContent .percentage,
.activeNewUsers .itemContent .percentage,
.totalAdRev .itemContent .percentage {
  font-size: initial;
  display: block;
}

.positive {
  color: #3CC480;
}

.positive:before {
  content: '';
  background-image: url(../images/greenArrow.png);
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center 20px;
}

.negative {
  color: #FF4141;
}

.negative:before {
  content: '';
  background-image: url(../images/redArrow.png);
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center 20px;
}

.totalUsers .itemContent img,
.activeNewUsers .itemContent img,
.totalAdRev .itemContent img {
  position: relative;
  bottom: 10em;
  left: 10em;
  width: 200px;
}

.totalUsers .itemContent h5,
.activeNewUsers .itemContent h5,
.totalAdRev .itemContent h5 {
  font-weight: normal;
  color: #43425D;
}

.topProducts {
  grid-area: top;
  text-align: center;
  padding-bottom: 3em;
}

.quickDetails {
  grid-area: quick;
}

.moneyStats {
  grid-area: money;
}

.nogIets {
  grid-area: other;
}

.statistics select {
  position: relative;
  left: 80%;
  bottom: 2em;
}

select {
  box-shadow: 0px 2px 3px #0000000D;
  border: 1px solid #D7DAE2;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  background-image: url('../images/downArrow.png'),
    linear-gradient(to bottom, #ffffff 0%, #FFFFFF 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.referrer table {
  width: 100%;
  border-collapse: collapse;
}

.referrer {
  padding: 0 0 2em;
}

.referrer thead {
  background: #F5F6FA;
  color: #A3A6B4;
  font-weight: bold;
  font-size: 18px;
}

.referrer table {
  width: 100%;
  border-collapse: collapse;
}

.referrer td {
  padding: 1em;
}

.referrer tbody tr {
  border-bottom: 1px solid #F1F1F3;
}

.theMap a {
  color: #3B86FF;
  text-decoration: none;
  position: relative;
  left: 20em;
  bottom: 2.5em;
}

.theMap img {
  max-width: 100%;
}

.theMap table {
  width: 100%;
  border-collapse: collapse;
}

.theMap td {
  padding: 2em 2em;
}

.theMap td:last-of-type {
  text-align: right;
}

.theMap tr:first-of-type td:first-of-type:before {
  content: '';
  background-image: url(../images/blueDot.png);
  padding: 1em;
  background-position: center center;
  background-repeat: no-repeat;
}

.theMap tr:last-of-type td:first-of-type:before {
  content: '';
  background-image: url(../images/greenDot.png);
  padding: 1em;
  background-position: center center;
  background-repeat: no-repeat;
}

.topProducts table {
  width: 100%;
  border-collapse: collapse;
}

.topProducts thead {
  background: #F5F6FA;
  color: #A3A6B4;
  font-weight: bold;
  font-size: 18px;
}

.topProducts thead td {
  padding: 1em 2em;
}

.topProducts tbody td {
  padding: 2em 3.5em;
}

.topProducts td:first-of-type {
  text-align: left;
}

.topProducts td:last-of-type {
  text-align: right;
}

.topProducts tbody {
  color: #4D4F5C;
}

.topProducts tbody tr {
  border-bottom: 1px solid #F1F1F3;
}

.topProducts .product1:before {
  content: "";
  background: url(../images/Product.Img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product2:before {
  content: "";
  background: url(../images/Product.Img-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product3:before {
  content: "";
  background: url(../images/Product.Img-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts .product4:before {
  content: "";
  background: url(../images/Product.Img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.topProducts--link,
.referrer--link {
  color: #3B86FF;
  text-decoration: none;
  width: 100%;
  position: relative;
  top: 1.5em;
}

.quickDetails h2,
.quickDetails--item {
  padding-bottom: 1em;
  border-bottom: 1px solid #F1F1F3;
}

.quickDetails--item {
  padding: 1.3em 0;
}

.quickDetails--item span:first-of-type {
  color: rgba(77, 79, 92, .5);
  text-align: left;
}

.quickDetails--item span:first-of-type:before {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 1em;
  padding: 1em;
}

.quickDetails--item .newUsers:before {
  background: url(../images/new-user1.png);
}

.quickDetails--item .scans:before {
  background: url(../images/recycle1.png);
}

.quickDetails--item .waiting:before {
  background: url(../images/timer1.png);
}

.quickDetails--item .attention:before {
  background: url(../images/warning1.png);
}

.quickDetails--item .lostUsers:before {
  background: url(../images/error1.png);
}

.quickDetails--item span:last-of-type {
  text-align: right;
  float: right;
}
